@use '../styles/variables' as v;

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: v.$color-bg;

  &--admin {
    background-color: #F6F8FA;
  }
}

.app-main {
  flex: 1;

  &--admin {
    display: flex;
    flex-direction: column;
  }
}
